<% @shouts.each do |shout| %>
<%= shout.user %> 说：<%= shout.body %> <%= shout.created_at.stamp(:only_date) %> 	<a href="/delete/<%= shout.id %>">delete</a> | 	<a href="/<%= shout.id %>">edit</a><br/>
<% end %>

<hr/>

<form method='post' action='/' accept-charset="utf-8">
	<input type='text' name='user' id='user'><br/>
	<textarea name='body' cols='80' rows='20'></textarea>
	<input type='submit' value='convert'>
</form>

<%=  pagination_links(@shouts) %>